

body {
  color: #000;
    background: #9f763f;
  font-family: 'Risque', cursive;
  letter-spacing: 2px;
}

* {
  box-sizing: border-box;
}

.title {
  background: #cca978;
  background: -moz-linear-gradient(top, #cca978 32%, #986f37 100%);
  background: -webkit-linear-gradient(top, #cca978 32%, #986f37 100%);
  background: linear-gradient(to bottom, #cca978 32%, #986f37 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cca978', endColorstr='#986f37', GradientType=0);
  text-align: center;
  color: #542102;
  text-transform: uppercase;
  padding: 1px;
  border-bottom: 1px solid #986f37;
}

.container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section-left {
  width: 30%;
  background: #fff;
  border-right: 5px solid #542102;
}

.section-center {
  width: 45%;
  background: #87cefa;
}

.section-right {
  width: 25%;
  background: #5a5a5a;
  border-left: 5px solid #542102;
}

.cookie-container {
  background: #cca978;
  text-align: center;
  font-weight: bold;
  color: #542102;
  font-size: 30px;
  padding: 10px 0;
  margin: 40px 0;
}

.cookie-quantity-sec {
  font-size: 20px;
}

.cookie {
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
}

.cookie-img {
  width: 100%;
  cursor: pointer;
}

.cursor {
  padding-left: 5px;
}
.cursor-image {
  width: 30px;
animation: Click 10s linear 8s infinite;
}

@keyframes Click {
  0%, 4%, 100% {
    transform: translate(0,0);
  }
  2% {
    transform: translate(0,-10px);
  }

}
.producers-visual {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  padding: 20px 0 0 5px;
}

.producers-visual img {
  display: none;
}

.producers-visual img:nth-child(-n+10) {
  display: inline;
}

.grandma {
  background: url("../img/kitchen-background.png");
  background-size: contain;
}

.farm {
  background: url("../img/farm-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.mine {
  background: url("../img/mine-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.factory {
  background: url("../img/factory-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.producers {
  margin: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  background: #cacaca;
  background-image: -webkit-linear-gradient(top, #cacaca, #656b6e);
  background-image: -moz-linear-gradient(top, #cacaca, #656b6e);
  background-image: -ms-linear-gradient(top, #cacaca, #656b6e);
  background-image: -o-linear-gradient(top, #cacaca, #656b6e);
  background-image: linear-gradient(to bottom, #cacaca, #656b6e);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #272727;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  position: relative;
}

.producers-info {
  display: none;
  position: absolute;
  left: -205px;
  width: 200px;
  background: #542102;
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #400702;
  color: #cca978;
  letter-spacing: 1px;
}

.producers:hover {
  background: #ccd1d4;
  background-image: -webkit-linear-gradient(top, #ccd1d4, #9fa5a8);
  background-image: -moz-linear-gradient(top, #ccd1d4, #9fa5a8);
  background-image: -ms-linear-gradient(top, #ccd1d4, #9fa5a8);
  background-image: -o-linear-gradient(top, #ccd1d4, #9fa5a8);
  background-image: linear-gradient(to bottom, #ccd1d4, #9fa5a8);
}

.producers:hover .producers-info {
  display: block;
}

.producers-img {
  width: 60px;
}

.producers-header {
  margin: 0 auto;
}

.producers-cookie-img {
  width: 20px;
}

.producers-price {
  color: #ff0000;
}

.producers-quantity {
  font-size: 40px;
  font-weight: bold;
  color: rgba(21, 21, 21, .3);
}

.footer {
  color: #fff;
  padding: 25px 10px;
  text-align: right;
  border-top: 1px solid #542102;
}
